<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140867775647-4dl2km515dfg63nn92e1cq33m7o0lsc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140867775647-4dl2km515dfg63nn92e1cq33m7o0lsc3</string>
	<key>API_KEY</key>
	<string>AIzaSyDmvozZQXBs3NvIeDzv9dS6QTNXlvT6Y3U</string>
	<key>GCM_SENDER_ID</key>
	<string>140867775647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.golpokotha</string>
	<key>PROJECT_ID</key>
	<string>cc-cms-6b752</string>
	<key>STORAGE_BUCKET</key>
	<string>cc-cms-6b752.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140867775647:ios:d2b4b05a12282c227a46aa</string>
</dict>
</plist>